<div class="grid">
    <div class="card__actions">
        <% if (result.length !== 1) { %>
        <h1>
            <a href="/xac-nhan-lam-viec/?active=true" class="btn">ĐIỂM DANH</a>
        </h1>
        <% } %>
    </div>
    <div class="card__actions">
        <h1>
            <a href="/xac-nhan-ket-thuc-lam/?active=false" class="btn"
                >KẾT THÚC</a
            >
        </h1>
    </div>
    <div class="card__actions">
        <h1><a href="/xin-nghi-phep" class="btn">NGHỈ PHÉP</a></h1>
    </div>
    <!-- <h1><%= checkConfirm %></h1> -->
</div>
