<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <ul class="cart__item-list">
                    <h2>Danh sách nhân viên</h2>
                    <li class="cart__item">
                        Nguyen Van A <a href="/tong-hop-gio-lam/?nv=true">Chi tiết</a>
                    </li>
                    <li class="cart__item">
                        NV 1 <a href="/">Chi tiết</a>
                    </li>
                    <li class="cart__item">
                        NV 1 <a href="/">Chi tiết</a>
                    </li>
                </ul>
                <hr>
                <% if(checkStaff == 'true') { %>
                <div class="cart__item-list">
                    <h2>Danh sách giờ làm</h2>
                    <table>
                        <tr>
                          <th>Ngày</th>
                          <th>giờ bắt đầu</th>
                          <th>giờ bắt đầu</th>
                          <th>Tính làm thêm</th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>1 giờ</td>
                          <td>1</td>
                          <td>1</td>
                          <td>
                              <a href="/thong-tin-ca-nhan" class="btn">Xóa</a>
                          </td>
                        </tr>
                        <h4>Số giờ đã làm:</h4>
                        <h4>AnnuaLeave:</h4>
                    </table>
                </div>
                <% } %>
                <div class="centered">
                    <form action="/xac-nhan-quan-ly" method="POST">
                        <button type="submit" class="btn">Xác nhận</button>
                    </form>
                </div>
                
        </main>
        <%- include('../includes/end.ejs') %>