<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <h1>Đăng ký COVID</h1>
                <ul class="orders">
                        <li class="orders__item">
                            <h1>Đăng ký thông tin thân nhiệt</h1>
                            <ul class="orders__products">
                                Ngày đăng ký: <input type="date" />
                                Giờ đăng ký: <input type="datetime" />
                            </ul>
                        </li>
                        <li class="orders__item">
                            <h1>Đăng ký thông tin tiêm vaccine</h1>
                            <ul class="orders__products">
                                <li class="orders__products-item">Mũi 1: ASTRA Ngày . . . </li>
                                <li class="orders__products-item">Mũi 2: VERO CELL Ngày . . . </li>
                            </ul>
                        </li>
                        <li class="orders__item">
                            <h1>Đăng ký thông tin dương tính với covid.</h1>
                            <ul class="orders__products">
                                <li class="orders__products-item">Ngày đăng ký</li>
                                <li class="orders__products-item">Giờ đăng ký</li>
                            </ul>
                        </li>
                </ul>
        </main>
        <%- include('../includes/end.ejs') %>