<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                    <div class="grid">
                            <article class="card product-item">
                                <div class="card__content">
                                    <h2 class="product__price">
                                        Họ và tên: Nguyễn Văn A
                                    </h2>
                                </div>
                                <header class="card__header">
                                    <h1 class="product__title">
                                        doB:
                                    </h1>
                                    <h1 class="product__title">
                                        salaryScale:
                                    </h1>
                                    <h1 class="product__title">
                                        startDate:
                                    </h1>
                                    <h1 class="product__title">
                                        department:
                                    </h1>
                                    <h1 class="product__title">
                                        annualLeave:
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="https://9mobi.vn/cf/images/2015/03/nkk/hinh-dep-1.jpg" alt="Anh dep">
                                </div>
                                <div class="card__actions">
                                    <a href="/" class="btn">Chỉnh sửa</a>
                                </div>
                            </article>
                    </div>
            </main>
            <%- include('../includes/end.ejs') %>